ion-row {
    display: flex;
    background-color: #65E09D;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-searchbar.custom {
    --border-radius: 10px;
}

ion-button.custom {
    --background: #135d54;
}
